<h1>Introduzca los datos del usuario</h1>
<form action="/users" method="POST" class="form">
  <label for="user-name">Nombre</label>
  <input type="text" id="user-name" name="name" >
  <label for="user-lastName">Apellido</label>
  <input type="text" id="user-lastName" name="lastName" >
  <label for="user-age">Edad</label>
  <input type="text" id="user-age" name="age" >
  <button type="submit" class="submit-btn">Submit</button>
</form>