<h1>Introduzca el nombre del minino</h1>
<form action="/cats" method="POST">
  <label for="cat-name">Nombre</label>
  <input type="text" id="cat-name" name="name" >
  <button type="submit">Submit</button>
</form>