<h1>Actualiza el minino</h1>
<form action="/cats/{{cat._id}}" method="POST">
  <label for="cat-name">Nombre</label>
  <input type="text" id="cat-name" name="name" value={{cat.name}} >
  <button type="submit">Submit</button>
</form>